<div class="container text-center my-3">
	<div class="jumbotron">
		<h3>Argumentos de entrada:</h3>
		<h5 style="color: blue">{{data.argumentos}}</h5>
		<h3>Sistema operativo:</h3>
		<h5 style="color: blue">{{data.plataforma}}</h5>
		<h3>Versión de Node.js:</h3>
		<h5 style="color: blue">{{data.version}}</h5>
		<h3>Memoria total reservada (rss):</h3>
		<h5 style="color: blue">{{data.memoria}}</h5>
		<h3>Path de ejecución:</h3>
		<h5 style="color: blue">{{data.path}}</h5>
		<h3>Process id:</h3>
		<h5 style="color: blue">{{data.id}}</h5>
		<h3>Carpeta del proyecto:</h3>
		<h5 style="color: blue">{{data.carpeta}}</h5>
	</div>
</div>